
body {
	width: 100%;
	height: 100%;
	font-size: 75%;
}

a {
	color: #336699;
}

a:hover {
	color: #6699ff;
}

#wrap {
	width: 100%;
	height: 100%;
	text-align: center;
	min-height: 600px;
	height: auto !important;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
	/* background: #dfc; */
	background: #fff url(../img/back.gif) repeat-x;
}

#tops {
	margin: 0 auto;
	width: 798px;
	_width: 800px;
	#width: 800px;
	text-align: left;
	min-height: 600px;
	height: auto !important;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#top {
	margin: 0 auto;
	width: 798px;
	_width: 800px;
	#width: 800px;
	text-align: left;
	min-height: 590px;
	height: auto !important;
	height: 590px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
	background: #fff url(../img/kaso_main_bg.gif) right repeat-y;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#head {
	height: 89px;
	background: #fff url(../img/headbg.gif) repeat-x;
}

#logo {
	float: left;
	padding: 20px 0 0 10px;
}

#head-right {
	float: left;
}

#headnavi {
	float: left;
	padding: 10px 0 0 27px;
}

#headnavi a {
	display: block;
	height: 15px;
	background: url(../img/headnavi.gif);
}

#headnavi a span { display: none; }
#headnavi li { float: left; }
#headnavi .navi1 a { background-position: 0 0;width: 66px; }
#headnavi .navi1 a:hover { background-position: 0 -15px; }
#headnavi .navi2 a { background-position: -66px 0;width: 135px; }
#headnavi .navi2 a:hover { background-position: -66px -15px; }
#headnavi .navi3 a { background-position: -201px 0;width: 93px; }
#headnavi .navi3 a:hover { background-position: -201px -15px; }
#headnavi .navi4 a { background-position: -294px 0;width: 87px; }
#headnavi .navi4 a:hover { background-position: -294px -15px; }

#head2 {
	height: 79px;
	background: #fff url(../img/headbg2.gif) repeat-x;
}

#head-right2 {
	float: left;
}

#headnavi2 {
	float: left;
	padding: 21px 0 0 187px;
}

#headnavi2 a {
	display: block;
	height: 15px;
	background: url(../img/headnavi.gif);
}

#headnavi2 a span { display: none; }
#headnavi2 li { float: left; }
#headnavi2 .navi1 a { background-position: 0 0;width: 66px; }
#headnavi2 .navi1 a:hover { background-position: 0 -15px; }
#headnavi2 .navi2 a { background-position: -66px 0;width: 135px; }
#headnavi2 .navi2 a:hover { background-position: -66px -15px; }
#headnavi2 .navi3 a { background-position: -201px 0;width: 93px; }
#headnavi2 .navi3 a:hover { background-position: -201px -15px; }
#headnavi2 .navi4 a { background-position: -294px 0;width: 98px; }
#headnavi2 .navi4 a:hover { background-position: -294px -15px; }

#fontSize {
	float: left;
	width: 176px;
	height: 37px;
	background: url(../img/font_size.gif) 10px 0 no-repeat;
}

#fontSizeSet {
	padding: 8px 0 0 104px;
}

#fontSizeSet li {
	float: left;
}

#fontSizeSet img {
	margin-right: 2px;
	cursor: pointer;
}

#contact-box {
	clear: left;
	float: left;
	width: 575px;
	height: 30px;
	_margin-top: 3px;
	padding-top: 7px;
	_padding-top: 4px;
	text-align: right;
	background: url(../img/tel.gif) right no-repeat;
}

#contact-box2 {
	clear: left;
	float: left;
	width: 575px;
	height: 30px;
	_margin-top: 3px;
	padding-top: 7px;
	_padding-top: 4px;
	text-align: right;
	background: url(../img/tel2.gif) right no-repeat;
}

#foot {
	height: 93px;
	background: #fff url(../img/footbg.gif);
	font-size: 12px;
}

#foot2 {
	height: 90px;
	background: #fff url(../img/foot2bg.gif);
	font-size: 12px;
}

#foot-left {
	float: left;
	padding: 10px 0 0 10px;
}

#foot-left li {
	display: inline;
}

#foot-right {
	float: right;
	padding: 10px 10px 0 0;
}

#foot-right .footbox {
	width: 236px;
	height: 75px;
	background: url(../img/foot_right_bg.gif);
}

.foot-right-contact {
	margin: 56px 0 0 10px;
}

#panqz {
	padding: 20px;
}

.panqz-link {
	width: 580px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

#navi {
	height: 36px;
	background: url(../img/mainnavibg.gif);
}

#main {
	min-height: 392px;
	height: auto !important;
	height: 392px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
}

#navi ul {
	padding: 4px 0 0 9px;
}

#navi a {
	display: block;
	width: 111px;
	height: 27px;
	background: url(../img/mainnavi.gif);
}

#navi a span {
	display: none;
}

#navi li {
	float: left;
}

#navi .navi1 a { background-position: 0 0; }
#navi .navi1 a:hover { background-position: -111px 0px; }
#navi .navi2 a { background-position: 0 -27px; }
#navi .navi2 a:hover { background-position: -111px -27px; }
#navi .navi3 a { background-position: 0 -54px; }
#navi .navi3 a:hover { background-position: -111px -54px; }
#navi .navi4 a { background-position: 0 -81px; }
#navi .navi4 a:hover { background-position: -111px -81px; }
#navi .navi5 a { background-position: 0 -108px; }
#navi .navi5 a:hover { background-position: -111px -108px; }
#navi .navi6 a { background-position: 0 -135px; }
#navi .navi6 a:hover { background-position: -111px -135px; }
#navi .navi7 a { background-position: 0 -162px;width: 112px; }
#navi .navi7 a:hover { background-position: -111px -162px; }

#navi2 {
	height: 30px;
	background: url(../img/mainnavi2bg.gif);
}

#navi2 ul {
	padding: 3px 0 0 9px;
}

#navi2 a {
	display: block;
	width: 111px;
	height: 22px;
	background: url(../img/mainnavi2.gif);
}

#navi2 a span {
	display: none;
}

#navi2 li {
	float: left;
}

#navi2 .navi1 a { background-position: 0 0; }
#navi2 .navi1 a:hover { background-position: -113px 0px; }
#navi2 .navi2 a { background-position: 0 -22px; }
#navi2 .navi2 a:hover { background-position: -113px -22px; }
#navi2 .navi3 a { background-position: 0 -44px; }
#navi2 .navi3 a:hover { background-position: -113px -44px; }
#navi2 .navi4 a { background-position: 0 -66px; }
#navi2 .navi4 a:hover { background-position: -113px -66px; }
#navi2 .navi5 a { background-position: 0 -88px; }
#navi2 .navi5 a:hover { background-position: -113px -88px; }
#navi2 .navi6 a { background-position: 0 -110px; }
#navi2 .navi6 a:hover { background-position: -113px -110px; }
#navi2 .navi7 a { background-position: 0 -132px;width: 113px; }
#navi2 .navi7 a:hover { background-position: -113px -132px; }

#top-main {
	width: 800px;
	_width: 798px;
	height: 289px;
	background: url(../img/top_main_bg.gif) right no-repeat;
}

#login-box {
	padding: 5px 0 0 10px;
}

#login-box .login-set {
	vertical-align: -4px;
	_vertical-align: -2px;
}

#top-main-right {
	float: left;
	padding: 48px 0 0 17px;
}

.list1-wrap {
	width: 225px;
	height: 230px;
	overflow: auto;
}

.column {
	min-height: 80px;
	height: auto !important;
	height: 80px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
	padding: 20px 8px 0 8px;
}

.column2 {
	min-height: 80px;
	height: auto !important;
	height: 80px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
	padding: 0;
}

.column .left-box {
	float: left;
	width: 520px;
	padding-bottom: 20px;
}

.column .right-box {
	float: right;
	width: 260px;
	padding-bottom: 20px;
}

.column2 .left-box {
	float: left;
	width: 580px;
	padding: 20px 5px 20px 8px;
}

.column2 .right-box {
	float: right;
	width: 190px;
	background: url(../img/white.gif) top repeat-x;
	padding: 20px 5px 20px 8px;
}

.subtitle {
	width: 190px;
	height: 89px;
	background: url(../img/subtitlebg.jpg) no-repeat;
}

.subtitle-left {
	float: left;
	padding: 70px 0 0 10px;
}

.subtitle-right {
	float: right;
	padding: 67px 0 0 0;
}

#subnavi {
	padding: 5px;
}

#subnavi li {
	width: 180px;
	height: 31px;
	white-space: pre;
	overflow: hidden;
	vertical-align: bottom;
	background: url(../img/submenu.gif) no-repeat;
}

#subnavi li.subsubnavi {
	width: 180px;
	height: 31px;
	vertical-align: bottom;
	background: url(../img/subsubmenu.gif) no-repeat;
}

#subnavi a {
	display: block;
	padding: 7px 0 0 18px;
	text-decoration: none;
}

#subnavi li.subsubnavi a {
	display: block;
	padding: 7px 0 0 30px;
	text-decoration: none;
}


#subnavi li.nidan a {
	display: block;
	padding: 2px 0 0 18px;
	line-height: 1em;
	text-decoration: none;
}

.list1 dt {
	color: #4d6600;
	font-weight: bold;
}

.list1 dd {
	padding: 0 0 5px 0;
}

.list2 {
	min-height: 10px;
	height: auto !important;
	height: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
}

.list2 dt {
	float: left;
	font-size: 110%;
	padding: 0 20px 5px 10px;
}

.list2 dd {
	float: left;
	font-size: 110%;
	padding: 0 0 5px 0;
}

.right-link {
	padding-right: 20px;
	text-align: right;
}

.otorihiki-banner {
	padding-left: 20px;
}

.otorihiki-banner img {
	margin: 5px;
}

.santi {
	padding: 0 10px 5px 10px;
}

.staff {
	padding: 15px 0 0 0;
}

.box1 {
	float: left;
	width: 250px;
	min-height: 30px;
	height: auto !important;
	height: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	_overflow-y: none;
	_overflow-x: none;
	padding-bottom: 20px;
	font-size: 110%;
}

.box1 a {
	font-weight: bold;
	color: #89A72C;
}

.box1 a:hover {
	color: #BED96C;
}

.box1img {
	float: left;
	margin-right:5px;
}

.box2 {
	float: left;
	width: 130px;
	padding-bottom: 60px;
}

.box2 a {
	font-weight: bold;
	color: #89A72C;
}

.box2 a:hover {
	color: #BED96C;
}

.box1img {
	margin-bottom:5px;
}

/*トップページ産地情報用*/
.box5 {
	width: 240px;
	height: 300px;
	border: solid 1px #DDDDDD;
	float: left;
	margin: 0;
	padding: 10px 0;
}

.box5 a {
	font-weight: bold;
	color: #336600;
}

.box5 a:hover {
	color: #663366;
}

.box5img {
	float: left;
margin: 5px;
}

#santimain {width: 100px;
}

#santiside {width: 228px;
margin-top: 5px;
float: right;}

iframe {overflow: hidden;
overflow-x : hidden;
overflow-y : hidden;}

/* h2 {width: 460px;
	margin: 20px;} */

.rightmargin {margin: 0 0 10em 0;}
.mainmargin {margin: 0 0 5em 0;}

.naka { text-align: center;}


/* 市場概要に使用 */
.h1kazarimozi { font-size: 2.0em; text-align: center; margin: 0.5em 0 1em 0;border-bottom: solid 1px #DDDDDD; font-family: 'TakaoPGothic'; font-style: normal;  font-weight: 100;}

.h2kazarimozi { font-size: 1.25em; margin: 1em; border-left:solid 4px #5e8eab; padding-left: 5px; font-family: 'TakaoPGothic'; font-style: normal;  font-weight: 100;}

.sectionmargin { margin-bottom: 5em;}

/* スタッフ紹介に使用 */
.tantou_head h2 { font-size: 2.0em; width: 560px; height:100px; margin:0 0 20px 0; padding: 10px; height: 30px; line-height: 30px; background-color: #eee;}

.tantou_main dl { font-size: 1.0em; height: 30px; margin: 0; padding: 10px; line-height: 30px; border: 1px dotted #ddd; }

.tantou_main dt { font-size: 2.0em; float: left;
 width: 180px; height: 30px; clear : both; line-height: 30px;}

.namekana { font-size: 1.0em; float: left; width: 160px; height: 30px; line-height: 30px;}

.tantou_img img {margin: 0 0 20px 0; padding: 0;}

.tantou_img2 img {margin: 60px 0 20px 0; padding: 0;}
